body{
	background-color: blue; 
	width:970px;
}

#title{
	display: inline-block;
	background-color:red;
	width:970px; 
	color:white;
}

#nav_bar{
	display: inline-block;
	color:white; 
	background-color:teal; 
	width:200px;
	padding-top:10px;
	padding-left:15px; 
	margin-top:20px;  
	border-radius:10%; 
	position:relative;
	bottom:260px;
 
}

#main_info{
	display: inline-block;
	background-color:gray;
	width:750px;
	margin-top:15px;
	border-radius:10%;  
}
#main_info u{
	color:white;
}

#main_info span{
	color:purple;
}

#bottom_bar {
	background-color:gray; 
	height:50px;
	border-radius:10%; 
}

#bottom_bar p{
	padding-left:10px; 
	padding-top:5px; 
}

#bottom_bar u{
	color:teal;
}